<div class="root properties">
  <div class="top">
    <h3 class="heading">Properties</h3>
    <div class="actions">
      <button class="highlight highlight-default" @click="toggle({ name: 'properties' })"><i class="material-icons icon icon-22-18">close</i></button>
    </div>
  </div>
  <div class="middle">
    <div class="section">
      <div class="top">
        <h5 class="heading">Box</h5>
        <div class="actions">
          <button class="highlight highlight-default"><i class="material-icons icon icon-22-18">arrow_drop_down</i></button>
        </div>
      </div>
      <div class="middle">
        <div class="table">
          <div class="tbody">
            <div class="row">
              <div class="cell cell-1">
                Flex:
              </div>
              <div class="cell cell-2">
                <input type="text" class="input input-default" value="'0 0 auto'" />
              </div>
            </div>
            <div class="row">
              <div class="cell cell-1">
                Width:
              </div>
              <div class="cell cell-2">
                <input type="text" class="input input-default" value="'120px'" />
              </div>
            </div>
            <div class="row">
              <div class="cell cell-1">
                Height:
              </div>
              <div class="cell cell-2">
                <input type="text" class="input input-default" value="'30px'" />
              </div>
            </div>
            <div class="row">
              <div class="cell cell-1">
                Margin:
              </div>
              <div class="cell cell-2">
                <input type="text" class="input input-default" value="" />
              </div>
            </div>
            <div class="row">
              <div class="cell cell-1">
                Padding:
              </div>
              <div class="cell cell-2">
                <input type="text" class="input input-default" value="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="top">
        <h5 class="heading">Appearance</h5>
        <div class="actions">
          <button class="highlight highlight-default"><i class="material-icons icon icon-22-18">arrow_drop_down</i></button>
        </div>
      </div>
      <div class="middle">
        <div class="table">
          <div class="tbody">
            <div class="row">
              <div class="cell cell-1">
                Font:
              </div>
              <div class="cell cell-2">
                <input type="text" class="input input-default" value="'Arial'" />
              </div>
            </div>
            <div class="row">
              <div class="cell cell-1">
                Font Size:
              </div>
              <div class="cell cell-2">
                <input type="text" class="input input-default" value="'22px'" />
              </div>
            </div>
            <div class="row">
              <div class="cell cell-1">
                Color:
              </div>
              <div class="cell cell-2">
                <input type="text" class="input input-default" value="'red'" />
              </div>
            </div>
            <div class="row">
              <div class="cell cell-1">
                Background:
              </div>
              <div class="cell cell-2">
                <input type="text" class="input input-default" value="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
