<div>
    <md-toolbar>
        <md-button class="md-icon-button">
            <md-icon>menu</md-icon>
        </md-button>
        <h2 class="md-title" style="flex: 1">Vue Material</h2>
        <md-button>
            <md-icon>cloud_upload</md-icon>
            Store
        </md-button>
        <md-button>
            <md-icon>cloud_download</md-icon>
            Discard
        </md-button>
        <md-button>
            <md-icon>zoom_out</md-icon>
        </md-button>
        <md-button>
            100%
        </md-button>
        <md-button>
            <md-icon>zoom_in</md-icon>
        </md-button>
        <md-button-toggle md-single class="md-primary">
            <md-button>
                <md-icon>phone_iphone</md-icon>
            </md-button>
            <md-button>
                <md-icon>tablet_mac</md-icon>
            </md-button>
            <md-button>
                <md-icon>computer</md-icon>
            </md-button>
        </md-button-toggle>
    </md-toolbar>
    <md-layout>
        <md-layout md-flex="80"></md-layout>
        <md-layout md-flex="20">
            <md-tabs>
              <md-tab id="movies" md-label="Movies">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas amet cum vitae, omnis! Illum quas voluptatem, expedita iste, dicta ipsum ea veniam dolore in, quod saepe reiciendis nihil.</p>
              </md-tab>

              <md-tab id="music" md-label="Music">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas amet cum vitae, omnis! Illum quas voluptatem, expedita iste, dicta ipsum ea veniam dolore in, quod saepe reiciendis nihil.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas amet cum vitae, omnis! Illum quas voluptatem, expedita iste, dicta ipsum ea veniam dolore in, quod saepe reiciendis nihil.</p>
              </md-tab>

              <md-tab id="books" md-label="Books">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas.</p>
              </md-tab>

              <md-tab id="pictures" md-label="Pictures" md-tooltip="This is the pictures tab!">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas.</p>
              </md-tab>
            </md-tabs>
        </md-layout>
    </md-layout>
</div>
