<section class="properties">
  <div class="properties-path" v-if="selection">
    <span class="uppercase-title">Path</span
    ><span class="path-item" v-for="s in selectionPath" :key="s"
      @click="$store.commit('designer/select', s.widget)"
    >{{ s.title }}</span
    ><span class="path-item selected" :key="selection">{{ selection.title }}</span>
  </div>
  <as-properties-category title="Layout">
    <div class="properties-table">
      <div class="property">
        <label class="property-title">
          Flex
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" class="control" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
      <div class="property">
        <label class="property-title">
          <span class="path-item">Margin</span>
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" class="control" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
      <div class="property">
        <label class="property-title">
          <span class="path-item">Padding</span>
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" class="control" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
    </div>
    <div class="properties-table">
      <div class="property">
        <label class="property-title">
          Width
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" class="control" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
      <div class="property">
        <label class="property-title">
          Height
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" class="control" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
    </div>
  </as-properties-category>
  <as-properties-category title="Font">
    <div class="properties-table">
      <div class="property">
        <label class="property-title">
          Color
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" class="control" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
      <div class="property">
        <label class="property-title">
          Font Family
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" class="control" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
      <div class="property">
        <label class="property-title">
          Font Size
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" class="control" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
      <div class="property">
        <label class="property-title">
          Font Weight
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" class="control" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
    </div>
  </as-properties-category>
  <as-properties-category title="Background">
    <div class="properties-table">
      <div class="property">
        <label class="property-title">
          Bg Color
        </label>
        <div class="property-mode mode-eval">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" class="control" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
      <div class="property">
        <label class="property-title">
          Bg Image
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" class="control" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
      <div class="property">
        <label class="property-title">
          Bg Position
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" class="control" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
    </div>
  </as-properties-category>
  <as-properties-category title="Items">
    <div class="properties-table">
      <div class="property">
        <label class="property-title">
          <span class="path-item">Items</span>
          <span class="glyphicon" :class="{
            'glyphicon-triangle-bottom': true,
            'glyphicon-triangle-right': false
          }" style="font-size: 9px; color: #FFFFFF; margin-left: 5px;"></span>
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <span class="control">Array[Item]</span>
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
    </div>
    <div class="properties-table">
      <template v-for="i in [0,1,2,3]">
        <div class="property" key="i">
          <label class="property-title">
            <span class="path-item">Item[{{ i }}]</span>
          </label>
          <div class="property-drag">
            <span class="dotted"></span>
          </div>
          <div class="property-value">
            <span class="value-group">
              <span class="group-input">
                <span class="control">Item {{ i }}</span>
              </span>
              <span class="group-edit">...</span>
            </span>
          </div>
        </div>
      </template>
    </div>
  </as-properties-category>
  <as-properties-category title="Tags">
    <div class="properties-table">
      <div class="property">
        <label class="property-title">
          <span class="path-item">Tags</span>
          <span class="glyphicon" :class="{
            'glyphicon-triangle-bottom': true,
            'glyphicon-triangle-right': false
          }" style="font-size: 9px; color: #FFFFFF; margin-left: 5px;"></span>
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <span class="control">Array[String]</span>
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="properties-table">
      <template v-for="(s, i) in ['One','Two']">
        <div class="property" key="i">
          <label class="property-title">
            <span class="path-item">Item[{{ i }}]</span>
          </label>
          <div class="property-mode">●</div>
          <div class="property-drag">
            <span class="dotted"></span>
          </div>
          <div class="property-value">
            <span class="value-group">
              <span class="group-input">
                <input type="text" class="control" :value="s" />
              </span>
              <span class="group-edit">...</span>
            </span>
          </div>
        </div>
      </template>
    </div>
  </as-properties-category>
  <as-properties-category title="Content">
    <div class="properties-table">
      <div class="property">
        <label class="property-title">
          Text
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <textarea class="control"></textarea>
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
    </div>
  </as-properties-category>
</section>
