<section class="properties">
  <div class="properties-path">
    <span class="uppercase-title">Path</span>
    <span class="path-item">Canvas</span>
    <span class="path-item">Stack</span>
    <span class="path-item">Text</span>
    <span class="path-item selected">Margin</span>
  </div>
  <as-properties-category title="Layout">
    <div class="properties-table">
      <div class="property">
        <label class="property-title">
          Flex
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
      <div class="property">
        <label class="property-title">
          <span class="path-item">Margin</span>
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
      <div class="property">
        <label class="property-title">
          <span class="path-item">Padding</span>
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
    </div>
    <div class="properties-table">
      <div class="property">
        <label class="property-title">
          Width
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
      <div class="property">
        <label class="property-title">
          Height
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
    </div>
  </as-properties-category>
  <as-properties-category title="Font">
    <div class="properties-table">
      <div class="property">
        <label class="property-title">
          Color
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
      <div class="property">
        <label class="property-title">
          Font Family
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
      <div class="property">
        <label class="property-title">
          Font Size
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
      <div class="property">
        <label class="property-title">
          Font Weight
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
    </div>
  </as-properties-category>
  <as-properties-category title="Background">
    <div class="properties-table">
      <div class="property">
        <label class="property-title">
          Bg Color
        </label>
        <div class="property-mode mode-eval">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
      <div class="property">
        <label class="property-title">
          Bg Image
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
      <div class="property">
        <label class="property-title">
          Bg Position
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <input type="text" />
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
    </div>
  </as-properties-category>
  <as-properties-category title="Content">
    <div class="properties-table">
      <div class="property">
        <label class="property-title">
          Text
        </label>
        <div class="property-mode">●</div>
        <div class="property-value">
          <span class="value-group">
            <span class="group-input">
              <textarea></textarea>
            </span>
            <span class="group-edit">...</span>
          </span>
        </div>
      </div>
    </div>
  </as-properties-category>
</section>
