<section class="properties">
  <div class="properties-details" v-if="description">
    <div class="properties-path">
      <span class="uppercase-title">Path</span
      ><span class="path-item" v-for="s in path" :key="s"
        @click="$store.commit('designer/select', s.model)"
      >{{ s.title }}</span
      ><span class="path-item selected" :key="description">{{ description.title }}</span>
    </div>
    <as-category v-for="category in categories" :category="category" :model="model" :widget="model" :key="category" />
  </div>
</section>
