@import "~@/styles/partials/variables";
@import "~@/styles/partials/mixins";
@import "~@/styles/shell/modal";
@import "~@/styles/shell/form";

.root.endpoint {

  @include shell-modal();
  width: 600px;

  >.middle {
    @include shell-form();
    @include with-tables();

    @include with-icons('caret-sm', 22px, 14px, 16px);
    @include with-inputs('input-sm');
    @include with-buttons('button-sm');

    .cell {
      padding: 2px;
      vertical-align: middle;
      &.cell-index {
        // padding-left: 0;
        vertical-align: middle;
        text-align: center;
      }
      &.cell-name {
        .input-sm {
          width: 100px;
        }
      }
      &.cell-value {
        width: 100%;
      }
      &.cell-actions {
        padding-right: 0;
      }
    }

    .row {
      &.row-add {
        .cell-check, .cell-type, .cell-name, .cell-value {
          opacity: 0.5;
        }
      }
    }
  }

  >.bottom {
    @include dock-row();
  }
}
