<form class="root endpoint"
  @submit.prevent="() => { $v.$touch(); !$v.$invalid && submit() }"
  @reset.prevent="close()"
  @keyup.esc="close()"
  novalidate
>
  <div class="top">
    <h3 class="heading">Remote</h3>
    <div class="actions">
      <button type="reset" class="highlight highlight-default"><i class="material-icons icon-action">close</i></button>
    </div>
  </div>
  <div class="middle">
    <div class="form-row">
      <label>Name</label>
      <div class="group">
        <c-text
          v-model="name"
          v-focus
          class="input input-default group-item group-item-fill"
          @input="$v.name.$touch()"
          :class="{
            'input-danger': $v.name.$error
          }"
        />
      </div>
      <template v-if="$v.name.$error">
        <div v-if="!$v.name.required">Name is a required field</div>
      </template>
    </div>
    <div class="form-row">
      <label>Root</label>
      <div class="group">
        <div class="group">
          <c-text
            v-model="endpoint"
            v-focus
            placeholder="URL"
            class="input input-default group-item group-item-fill"
            @input="$v.url.$touch()"
            :class="{
              'input-danger': $v.url.$error
            }"
          />
          <c-button class="button button-default group-item">
            <span>...</span>
          </c-button>
        </div>
      </div>
      <template v-if="$v.url.$error">
        <div v-if="!$v.url.required">Scheme is a required field</div>
        <div v-if="!$v.url.url">Scheme should be a valid URL</div>
      </template>
    </div>
    <div class="form-row">
      <label>Resource</label>
      <div class="group">
        <div class="group">
          <c-button class="button button-default group-item"
            @click.stop="$refs.options.toggle(true)"
          >
            <span>{{type.toUpperCase()}}</span>
            <i class="material-icons caret no-padding-right">arrow_drop_down</i>
          </c-button>
          <c-options ref="options"
            :options="types.map((p) => ({ value: p, label: p }))"
            :value="type"
            class="dropdown"
            activeClass="dropdown-open"
            @input="(value) => { handleTypeChange(value) }"
          />
          <c-text
            v-model="path"
            v-focus
            placeholder="/path/to/:resource"
            class="input input-default group-item group-item-fill"
            @input="$v.path.$touch()"
            :class="{
              'input-danger': $v.path.$error
            }"
          />
          <c-button class="button button-default group-item">
            <span>...</span>
          </c-button>
        </div>
        <template v-if="$v.path.$error">
          <div v-if="!$v.path.required">Path is a required field</div>
        </template>
      </div>
      <template v-if="$v.url.$error">
        <div v-if="!$v.url.required">Scheme is a required field</div>
        <div v-if="!$v.url.url">Scheme should be a valid URL</div>
      </template>
    </div>
    <div class="form-row form-row-props">
      <label>Props</label>
      <div class="table">
        <div class="tbody">
          <div class="row" v-for="(item, index) in Array(6)">
            <div class="cell cell-index">
              {{index + 1}}
            </div>
            <div class="cell cell-check">
              <input type="checkbox" />
            </div>
            <div class="cell cell-type">
              <div class="group">
                <c-button class="button-sm button-sm-default group-item">
                  <span>query</span>
                  <i class="material-icons caret-sm no-padding-right">arrow_drop_down</i>
                </c-button>
              </div>
            </div>
            <div class="cell cell-name">
              <div class="group">
                <c-text
                  v-focus
                  placeholder="Name"
                  class="input-sm input-sm-default group-item group-item-fill"
                />
              </div>
            </div>
            <div class="cell cell-value">
              <div class="group">
                <c-text
                  v-focus
                  placeholder="Value"
                  class="input-sm input-sm-default group-item group-item-fill"
                />
                <c-button class="button-sm button-sm-default group-item">
                  <span>...</span>
                </c-button>
              </div>
            </div>
            <div class="cell cell-actions">
              <c-button class="button-sm button-sm-danger">Remove</c-button>
            </div>
          </div>
          <div class="row row-add">
            <div class="cell cell-index">
              +
            </div>
            <div class="cell cell-check">
              <input type="checkbox" />
            </div>
            <div class="cell cell-type">
              <div class="group">
                <c-button class="button-sm button-sm-default group-item">
                  <span>query</span>
                  <i class="material-icons caret-sm no-padding-right">arrow_drop_down</i>
                </c-button>
              </div>
            </div>
            <div class="cell cell-name">
              <div class="group">
                <c-text
                  v-focus
                  placeholder="Name"
                  class="input-sm input-sm-default group-item group-item-fill"
                />
              </div>
            </div>
            <div class="cell cell-value">
              <div class="group">
                <c-text
                  v-focus
                  placeholder="Value"
                  class="input-sm input-sm-default group-item group-item-fill"
                />
                <c-button class="button-sm button-sm-default group-item">
                  <span>...</span>
                </c-button>
              </div>
            </div>
            <div class="cell cell-actions">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row" v-if="error">
      {{error}}
    </div>
  </div>
  <div class="bottom">
    <div class="left" v-if="endpoint">
      <button type="button" class="action-link action-link-danger" @click="remove()">Remove</button>
    </div>
    <div class="center">
    </div>
    <div class="right">
      <button type="reset" class="action action-default">Cancel</button>
      <button v-if="endpoint" class="action action-primary">Update</button>
      <button v-else class="action action-primary">Create</button>
    </div>
  </div>
</form>
