@import "~@/styles/partials/variables";
@import "~@/styles/partials/mixins";
@import "~@/styles/shell/modal";

.root.expression {

  @include shell-modal();
  @include with-inputs('input');
  width: 900px;

  >.middle {

    @include flex-row('column');
    padding: 6px;

    >.column {
      padding: 6px;

      &.column-expression {
        width: 60%;
      }
      &.column-context {
        width: 40%;
      }
    }
  }
}
