@import '~material-colors-scss/function';

$color-white: #FFFFFF;
$color-black: #000000;

$outline-0: #2c3134;
$outline-1: #31373a;
$outline-2: #3d474c;
$outline-3: #525e64;

$background-0: #2c3134;
$background-1: #31373a;
$background-2: #3d474c;
$background-3: #525e64;

$border-0: #000000;

// $color-primary-0: #263238;
// $color-primary-1: #37474F;
// $color-primary-2: #455A64;
// $color-primary-3: #546E7A;
// $color-primary-4: #607D8B;
// $color-primary-5: #78909C;
// $color-primary-6: #90A4AE;
// $color-primary-7: #B0BEC5;
// $color-primary-8: #CFD8DC;
// $color-primary-9: #ECEFF1;
