@import "~@/styles/partials/variables";
@import "~@/styles/partials/mixins";

@mixin shell-form($row: form-row) {

  @include with-inputs(input, 32px, 14px, 0px 8px);
  @include with-buttons(button, 32px, 14px, 0px 12px);
  @include with-dropdowns(dropdown, 32px, 14px, 0px 8px);
  @include with-icons(icon, 32px, 24px);
  @include with-icons(caret, 32px, 24px, 16px);
  @include with-groups(group);

  >.#{$row} {

    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 12px 0px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    >* {
      flex: 0 0 auto;
      margin: 2px 0px;
    }

    >label {
      opacity: 0.6;
      padding: 0px 2px;
    }
  }
}
