@import "~@/styles/partials/variables";
@import "~@/styles/partials/mixins";

@mixin shell-modal($width: auto, $height: auto) {

  @include paper(1);
  @include dock-column();
  @include with-highlights();
  @include with-buttons();
  @include with-buttons(action, 32px, 14px, 0px 12px);
  @include with-highlights(action-link, 32px, 14px, 0px 12px);
  @include with-icons(icon-action, 22px, 18px);

  background: $background-0;
  color: $color-white;
  border-radius: 2px;

  width: $width;
  height: $height;
  overflow: hidden;

  font-size: 14px;
  flex: 0 0 auto;

  max-height: 90%;
  max-width: 90%;

  >.top {
    padding: 12px 12px;
    overflow: hidden;

    >.heading {
      float: left;
      margin: 0;
      padding: 0;
      font-size: 16px;
      font-weight: normal;
      line-height: 24px;
      text-shadow: $text-shadow-0;
    }

    >.actions {
      float: right;
      >.highlight {
        padding: 0px;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  >.middle {
    @include scrollable();
    padding: 12px 12px;
  }

  >.bottom {
    padding: 12px 12px;
    text-align: right;
  }
}
