@import "~@/styles/partials/variables";
@import "~@/styles/partials/mixins";
@import "~@/styles/shell/pane";

.root.palette {

  @include shell-pane();

  >.top {
    color: $color-2;
  }

  >.middle {
    @include scrollable();

    >.section {

      @include shell-pane();
      @include flex-column();

      >.top {
        border-bottom: $border-2;
      }

      >.middle {
        padding: 6px 6px;
        border-bottom: $border-2;
        >ul {
          margin: 0;
          padding: 0;
          list-style: none;
          >li {
          }
        }
      }
    }
  }
}
