<div class="root palette">
  <div class="top">
    <h3 class="heading">Palette</h3>
    <div class="actions">
      <button class="highlight highlight-default" @click="toggle({ name: 'palette' })"><i class="material-icons icon icon-22-18">close</i></button>
    </div>
  </div>
  <div class="middle">
    <div class="section">
      <div class="top">
        <h5 class="heading">Micros</h5>
        <div class="actions">
          <button class="highlight highlight-default"><i class="material-icons icon icon-22-18">arrow_drop_down</i></button>
        </div>
      </div>
      <div class="middle">
        <ul>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">title</i> Title</span></li>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">short_text</i> Text</span></li>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">link</i> Link</span></li>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">code</i> Button</span></li>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">image</i> Image</span></li>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">access_alarm</i> Icon</span></li>
        </ul>
      </div>
    </div>
    <div class="section">
      <div class="top">
        <h5 class="heading">Containers</h5>
        <div class="actions">
          <button class="highlight highlight-default"><i class="material-icons icon icon-22-18">arrow_drop_down</i></button>
        </div>
      </div>
      <div class="middle">
        <ul>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">view_column</i> Horizontal stack</span></li>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">view_column</i> Horizontal repeater</span></li>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">view_stream</i> Vertical stack</span></li>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">view_stream</i> Vertical repeater</span></li>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">layers</i> Layers stack</span></li>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">layers</i> Layers repeater</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
