<div class="root palette">
  <div class="top">
    <h3 class="heading">Palette</h3>
    <div class="actions">
      <button class="highlight highlight-default" @click="toggle({ name: 'palette' })"><i class="material-icons icon-action">close</i></button>
    </div>
  </div>
  <div class="middle">
    <div class="section" v-for="category in palette.categories" :key="category">
      <div class="top">
        <h5 class="heading">{{category.title}}</h5>
        <div class="actions">
          <button class="highlight highlight-default"><i class="material-icons icon-action">arrow_drop_down</i></button>
        </div>
      </div>
      <div class="middle">
        <ul>
          <li v-for="item in category.items" :key="item">
            <span class="highlight highlight-default">
              <i class="icon-item" :class="item.icon.class"
                :style="{ backgroundImage: item.icon.backgroundImage && `url(${item.icon.backgroundImage})` }"
              >{{item.icon.content}}</i>
              <span>{{item.title}}</span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
