@import "~@/styles/partials/variables";
@import "~@/styles/partials/mixins";
@import "~@/styles/shell/pane";

.root.palette {

  @include shell-pane();

  >.top {
    color: $color-2;
  }

  >.middle {
    @include scrollable();

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      >li {
      }
    }
  }
}
