<div class="root palette">
  <div class="top">
    <h3 class="heading">Palette</h3>
    <div class="actions">
      <button class="highlight highlight-default" @click="toggle({ name: 'palette' })"><i class="material-icons icon-action">close</i></button>
    </div>
  </div>
  <div class="middle">
    <category class="section" v-for="category in palette.categories" :key="category" :title="category.title" >
      <ul>
        <li v-for="item in category.items" :key="item">
          <palette-item :category="category" :item="item" />
        </li>
      </ul>
    </category>
  </div>
</div>
