<div class="root toolbar">
  <div class="left">
    <button class="highlight highlight-default" title="New page"><i class="material-icons icon icon-24-18">insert_drive_file</i></button>
    <button class="highlight highlight-default" title="Clone page"><i class="material-icons icon icon-24-18">content_copy</i></button>
    <button class="highlight highlight-default" title="Import page"><i class="material-icons icon icon-24-18">file_download</i></button>
  </div>
  <div class="left">
    <button class="highlight highlight-default" title="New page"><i class="material-icons icon icon-24-18">zoom_out</i></button>
    <button class="highlight highlight-default" title="Clone page">100%</button>
    <button class="highlight highlight-default" title="Import page"><i class="material-icons icon icon-24-18">zoom_in</i></button>
  </div>
  <div class="center">
  </div>
  <div class="right">
    <div class="buttons screen">
      <button class="button"
        :class="{ active: active.name === dimensions.custom.name }"
        @click="viewport(dimensions.custom)"
      >{{ dimensions.custom.width || 'auto' }}&nbsp;x&nbsp;{{ dimensions.custom.height || 'auto' }}</button>
      <button class="button icon"
        :class="{ active: active.name === dimensions.phone.name }"
        @click="viewport(dimensions.phone)"
      ><i class="material-icons icon icon-48-24">phone_iphone</i></button>
      <button class="button icon"
        :class="{ active: active.name === dimensions.tablet.name }"
        @click="viewport(dimensions.tablet)"
      ><i class="material-icons icon icon-48-24">tablet_mac</i></button>
      <button class="button icon"
        :class="{ active: active.name === dimensions.pc.name }"
        @click="viewport(dimensions.pc)"
      ><i class="material-icons icon icon-48-24">computer</i></button>
    </div>
  </div>
</div>
