@import "~@/styles/partials/variables";
@import "~@/styles/partials/mixins";
@import "~@/styles/shell/pane";

.root.toolbar {

  @include with-icons(icon, 48, 24);
  @include with-icons(icon, 24, 18);
  @include with-highlights();
  @include dock-row();

  >.left {
    padding: 10px 12px;
    .highlight {
      padding: 0px;
      margin: 0px 6px;
    }
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .buttons {

    flex: 0 0 auto;
    display: flex;
    flex-direction: row;

    >.button {
      position: relative;
      flex: 0 0 auto;
      // width: 48px;
      height: 48px;
      padding: 16px;
      color: $color-white;
      background: transparent;
      border: none;
      border-right: $border-1;
      // border-right: 1px solid $border-1;
      opacity: 0.6;
      cursor: pointer;

      &.icon {
        width: 48px;
        padding: 0;
      }

      &:first-child {
        border-left: $border-1;
      }

      &:last-child {
        border-right: none;
      }

      &:hover {
        opacity: 1;
      }

      &.active {
        background: $background-0;
        opacity: 1;
      }
    }
  }
}
