<div class="root toolbar">
  <div class="left">
    <button class="highlight highlight-default"><i class="material-icons icon icon-24-18">insert_drive_file</i> New</button>
    <button class="highlight highlight-default"><i class="material-icons icon icon-24-18">content_copy</i> Clone</button>
    <button class="highlight highlight-default"><i class="material-icons icon icon-24-18">file_download</i> Import</button>
  </div>
  <div class="center">
    <div class="buttons zoom">
      <button class="button icon"><i class="material-icons icon icon-48-24">zoom_out</i></button>
      <button class="button">
        <small>100%</small>
        <div>Reset</div>
      </button>
      <button class="button icon"><i class="material-icons icon icon-48-24">zoom_in</i></button>
    </div>
  </div>
  <div class="right">
    <div class="buttons screen">
      <button class="button">320&nbsp;x&nbsp;480</button>
      <button class="button icon"><i class="material-icons icon icon-48-24">phone_iphone</i></button>
      <button class="button icon active"><i class="material-icons icon icon-48-24">tablet_mac</i></button>
      <button class="button icon"><i class="material-icons icon icon-48-24">computer</i></button>
    </div>
  </div>
</div>
