<section class="item">
  <div class="item-arrow" @click="toggle()" v-if="item.children && item.children.length">
    <i class="glyphicon" :class="{
      'glyphicon-triangle-bottom': open,
      'glyphicon-triangle-right': !open
    }"></i>
  </div>
  <div class="item-heading" :class="{
    'selected': $store.state.designer.selection == item
  }" @click="$store.commit('designer/select', item)">
    <span class="heading-icon">
      <i :class="descriptor.icon"></i>
    </span>
    <span class="heading-title">
      {{ descriptor.title }}
    </span>
  </div>
  <div class="item-children" v-if="item.children && item.children.length && open">
    <as-outline-item v-for="child in item.children" :item="child" :level="level+1" :key="child"></as-outline-item>
  </div>
</section>
