<form class="root prop"
  @submit.prevent="() => { $v.$touch(); !$v.$invalid && submit() }"
  @reset.prevent="close()"
  @keyup.esc="close()"
  novalidate
>
  <div class="top">
    <h3 class="heading">Prop</h3>
    <div class="actions">
      <button type="reset" class="highlight highlight-default"><i class="material-icons icon-action">close</i></button>
    </div>
  </div>
  <div class="middle">
    <div class="form-row">
      <label>Name</label>
      <div class="group">
        <c-text
          v-model="name"
          v-focus
          class="input input-default group-item group-item-fill"
          @input="$v.name.$touch()"
          :class="{
            'input-danger': $v.name.$error
          }"
        />
      </div>
      <template v-if="$v.name.$error">
        <div v-if="!$v.name.required">Name is a required field</div>
      </template>
    </div>
    <div class="form-row">
      <label>Title</label>
      <div class="group">
        <c-text
          v-model="title"
          v-focus
          class="input input-default group-item group-item-fill"
        />
      </div>
    </div>
    <div class="form-row">
      <label>Type</label>
      <div class="group">
        <c-text
          v-model="type"
          v-focus
          class="input input-default group-item group-item-fill"
        />
        <c-options ref="options"
          :options="types.map((p) => ({ value: p, label: p }))"
          :value="type"
          class="dropdown dropdown-up"
          activeClass="dropdown-open"
          @input="(value) => { handleTypeChange(value) }"
        />
        <c-button class="button button-default group-item no-padding"
          @click.stop="$refs.options.toggle(true)"
        >
          <i class="material-icons icon">arrow_drop_down</i>
        </c-button>
      </div>
    </div>
    <div class="form-row" v-if="error">
      {{error}}
    </div>
  </div>
  <div class="bottom">
    <div class="left" v-if="prop">
      <button type="button" class="action-link action-link-danger" @click="remove()">Remove</button>
    </div>
    <div class="center">
    </div>
    <div class="right">
      <button type="reset" class="action action-default">Cancel</button>
      <button v-if="prop" class="action action-primary">Update</button>
      <button v-else class="action action-primary">Create</button>
    </div>
  </div>
</form>
