<form class="root prop"
  @submit.prevent="() => { $v.$touch(); !$v.$invalid && submit() }"
  @reset.prevent="close()"
  @keyup.esc="close()"
  novalidate
>
  <div class="top">
    <h3 class="heading">Prop</h3>
    <div class="actions">
      <button type="reset" class="highlight highlight-default"><i class="material-icons icon-action">close</i></button>
    </div>
  </div>
  <div class="middle">
    <div class="row">
      <label>Name</label>
      <div class="input-group input-group-default" :class="{
        'input-group-danger': $v.name.$error
      }">
        <input type="text" class="input-control" placeholder="Prop Name" v-focus v-model="name"
          @input="$v.name.$touch()"
        />
      </div>
      <template v-if="$v.name.$error">
        <div v-if="!$v.name.required">Name is a required field</div>
      </template>
    </div>
    <div class="row">
      <label>Title</label>
      <div class="input-group input-group-default">
        <input type="text" class="input-control" placeholder="Page Title" v-model="title" />
      </div>
    </div>
    <div class="row">
      <label>Type</label>
      <div class="input-group input-group-default" :class="{
        'input-group-danger': $v.type.$error
      }">
        <button class="input-button">String</button>
      </div>
    </div>
    <div class="row" v-if="error">
      {{error}}
    </div>
  </div>
  <div class="bottom">
    <div class="left" v-if="page">
      <button type="button" class="action-link action-link-danger" @click="remove()">Remove</button>
    </div>
    <div class="center">
    </div>
    <div class="right">
      <button type="reset" class="action action-default">Cancel</button>
      <button v-if="page" class="action action-primary">Update</button>
      <button v-else class="action action-primary">Create</button>
    </div>
  </div>
</form>
