<section class="dock">
  <div class="dock-row top" v-if="'top' in $slots">
    <slot name="top"></slot>
  </div>
  <div class="dock-row middle">
    <div class="dock-col left" v-if="'left' in $slots">
      <slot name="left"></slot>
    </div>
    <div class="dock-col center-row" v-if="'center-row' in $slots">
      <slot name="center-row"></slot>
    </div>
    <div class="dock-col center-column" v-if="'center-column' in $slots">
      <slot name="center-column"></slot>
    </div>
    <div class="dock-col center" v-if="'center' in $slots">
      <slot name="center"></slot>
    </div>
    <div class="dock-col right" v-if="'right' in $slots">
      <slot name="right"></slot>
    </div>
  </div>
  <div class="dock-row bottom" v-if="'bottom' in $slots">
    <slot name="bottom"></slot>
  </div>
</section>
