<div class="root console">
  <div class="top">
    <h3 class="heading">Console</h3>
    <div class="actions">
      <button class="highlight highlight-default"><i class="material-icons icon icon-22-18">close</i></button>
    </div>
  </div>
  <div class="middle">
    <div class="table">
      <div class="tbody">
        <div class="row">
          <div class="cell cell-scope"><span class="highlight highlight-default">General&nbsp;&gt;</span></div>
          <div class="cell cell-level"><span class="highlight highlight-success">Success</span></div>
          <div class="cell cell-message">Page created</div>
        </div>
        <div class="row">
          <div class="cell cell-scope"><span class="highlight highlight-default">Runtime&nbsp;&gt;</span></div>
          <div class="cell cell-level"><span class="highlight highlight-danger">Error</span></div>
          <div class="cell cell-message">Cannot evaluate expression: '34 * foo.bar'</div>
        </div>
        <div class="row">
          <div class="cell cell-scope"><span class="highlight highlight-default">Runtime&nbsp;&gt;</span></div>
          <div class="cell cell-level"><span class="highlight highlight-danger">Error</span></div>
          <div class="cell cell-message">Cannot evaluate expression: '34 * foo.bar'</div>
        </div>
        <div class="row">
          <div class="cell cell-scope"><span class="highlight highlight-default">Runtime&nbsp;&gt;</span></div>
          <div class="cell cell-level"><span class="highlight highlight-danger">Error</span></div>
          <div class="cell cell-message">Cannot evaluate expression: '34 * foo.bar'</div>
        </div>
        <div class="row">
          <div class="cell cell-scope"><span class="highlight highlight-default">General&nbsp;&gt;</span></div>
          <div class="cell cell-level"><span class="highlight highlight-success">Success</span></div>
          <div class="cell cell-message">Page mounted</div>
        </div>
      </div>
    </div>
  </div>
</div>
