@import "~@/styles/partials/all";
@import "~@/styles/themes/shell";

.pane {

  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;

  .head {
    flex: 0 0 auto;
    position: relative;
    background: #{material-color('light-blue', '800')};
    color: #FFFFFF;
    line-height: 2.4;
    padding: 0px 10px;
    margin: 12px 0px 7px 0px;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .absolute {
    @include position(absolute, 5px, 5px, 5px, 5px);
    overflow: auto;
  }

  .body {
    flex: 1 1 auto;
    position: relative;
    height: 100%;
  }
}

::-webkit-scrollbar { width: 8px; height: 8px; margin: 5px; }
::-webkit-scrollbar-thumb { background: #{material-color('light-blue', '800')}; border-radius: 20px; }
::-webkit-scrollbar-track { background: rgba(200, 200, 200, 0.2); border-radius: 20px; }
::-webkit-scrollbar-corner { background: transparent; }
