<div class="root structure">
  <div class="top">
    <h3 class="heading">Structure</h3>
    <div class="actions">
      <button class="highlight highlight-default" @click="toggle({ name: 'structure' })"><i class="material-icons icon-action">close</i></button>
    </div>
  </div>
  <div class="middle">
    <div class="section">
      <div class="top">
        <h5 class="heading">Pages</h5>
        <div class="actions">
          <button class="highlight highlight-default" @click="newPage()"><i class="material-icons icon-action">add</i></button>
          <button class="highlight highlight-default"><i class="material-icons icon-action">arrow_drop_down</i></button>
        </div>
      </div>
      <div class="middle">
        <ul>
          <li v-for="page in pages">
            <span class="highlight highlight-default">
              <i class="material-icons icon icon-22-14">web_asset</i>
              <span>{{page.route}}</span>
              <span v-if="page.title !== ''">({{page.title}})</span>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="section">
      <div class="top">
        <h5 class="heading">Remotes</h5>
        <div class="actions">
          <button class="highlight highlight-default"><i class="material-icons icon-action">add</i></button>
          <button class="highlight highlight-default"><i class="material-icons icon-action">arrow_drop_down</i></button>
        </div>
      </div>
      <div class="middle">
        <ul>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">flash_on</i> offersList</span></li>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">flash_on</i> applicationsCreate</span></li>
        </ul>
      </div>
    </div>
    <div class="section">
      <div class="top">
        <h5 class="heading">Params</h5>
        <div class="actions">
          <button class="highlight highlight-default"><i class="material-icons icon-action">add</i></button>
          <button class="highlight highlight-default"><i class="material-icons icon-action">arrow_drop_down</i></button>
        </div>
      </div>
      <div class="middle">
        <ul>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">label_outline</i> offer</span></li>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">label_outline</i> mode</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
