<div class="root structure">
  <div class="top">
    <h3 class="heading">Structure</h3>
    <div class="actions">
      <button class="highlight highlight-default" @click="toggle({ name: 'structure' })"><i class="material-icons icon-action">close</i></button>
    </div>
  </div>
  <div class="middle">
    <category class="section" title="Pages">
      <button slot="actions" class="highlight highlight-default" @click="newPage()"><i class="material-icons icon-action">add</i></button>
      <ul v-if="pages && pages.length">
        <li v-for="page in pages" :key="page.id">
          <div class="center">
            <span class="highlight highlight-default" @click="selectPage(page)" :class="{
              'selected': page === selectedPage
            }">
              <i class="material-icons icon icon-22-14">web_asset</i>
              <span>{{page.route}}</span>
              <span v-if="page.title !== ''">({{page.title}})</span>
            </span>
          </div>
          <div class="right">
            <button class="highlight highlight-default action"><i class="material-icons icon-action" @click="editPage(page)">edit</i></button>
            <button class="highlight highlight-default action"><i class="material-icons icon-action" @click="removePage(page)">delete</i></button>
          </div>
        </li>
      </ul>
      <div v-else><i>No pages</i></div>
    </category>
    <category class="section" title="Remotes">
      <button slot="actions" class="highlight highlight-default" @click="importRemotes"><i class="material-icons icon-action">arrow_downward</i></button>
      <button slot="actions" class="highlight highlight-default"><i class="material-icons icon-action">add</i></button>
      <ul>
        <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">flash_on</i> offersList</span></li>
        <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">flash_on</i> applicationsCreate</span></li>
      </ul>
    </category>
    <category class="section" title="Props" v-if="selectedPage !== null">
      <button slot="actions" class="highlight highlight-default" @click="newProp()"><i class="material-icons icon-action">add</i></button>
      <ul v-if="props && props.length">
        <li v-for="prop in props" :key="prop.id">
          <div class="center">
            <span class="highlight highlight-default">
              <i class="material-icons icon icon-22-14">label_outline</i>
              <span>{{prop.name}}</span>
              <span v-if="prop.name !== ''">({{prop.title}})</span>
            </span>
          </div>
          <div class="right">
            <button class="highlight highlight-default action"><i class="material-icons icon-action" @click="editProp(prop)">edit</i></button>
            <button class="highlight highlight-default action"><i class="material-icons icon-action" @click="removeProp(prop)">delete</i></button>
          </div>
        </li>
      </ul>
      <div v-else><i>No props</i></div>
    </category>
  </div>
</div>
