<div class="root structure">
  <div class="top">
    <h3 class="heading">Structure</h3>
    <div class="actions">
      <button class="highlight highlight-default"><i class="material-icons icon icon-22-18">close</i></button>
    </div>
  </div>
  <div class="middle">
    <div class="section">
      <div class="top">
        <h5 class="heading">Pages</h5>
        <div class="actions">
          <button class="highlight highlight-default"><i class="material-icons icon icon-22-18">add</i></button>
          <button class="highlight highlight-default"><i class="material-icons icon icon-22-18">arrow_drop_down</i></button>
        </div>
      </div>
      <div class="middle">
        <ul>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">web_asset</i> / (Default)</span></li>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">web_asset</i> /details (Details)</span></li>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">web_asset</i> /about (About)</span></li>
        </ul>
      </div>
    </div>
    <div class="section">
      <div class="top">
        <h5 class="heading">Remotes</h5>
        <div class="actions">
          <button class="highlight highlight-default"><i class="material-icons icon icon-22-18">add</i></button>
          <button class="highlight highlight-default"><i class="material-icons icon icon-22-18">arrow_drop_down</i></button>
        </div>
      </div>
      <div class="middle">
        <ul>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">flash_on</i> offersList</span></li>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">flash_on</i> applicationsCreate</span></li>
        </ul>
      </div>
    </div>
    <div class="section">
      <div class="top">
        <h5 class="heading">Params</h5>
        <div class="actions">
          <button class="highlight highlight-default"><i class="material-icons icon icon-22-18">add</i></button>
          <button class="highlight highlight-default"><i class="material-icons icon icon-22-18">arrow_drop_down</i></button>
        </div>
      </div>
      <div class="middle">
        <ul>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">label_outline</i> offer</span></li>
          <li><span class="highlight highlight-default"><i class="material-icons icon icon-22-14">label_outline</i> mode</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
