@import "~@/styles/partials/variables";
@import "~@/styles/partials/mixins";
@import "~@/styles/shell/pane";

.root.structure {

  @include shell-pane();
  @include with-highlights(highlight);
  @include with-icons(icon, 22px, 14px);

  >.top {
    color: $color-2;
  }

  >.middle {

    @include scrollable();

    >.section {

      @include shell-pane();
      @include flex-column();
      @include with-highlights(highlight, 22px, 12px, 0px 6px 0px 0px);

      >.top {
        border-bottom: $border-2;
      }

      >.middle {
        color: $color-white;
        font-size: 12px;
        padding: 6px 12px;
        border-bottom: $border-2;
        >ul {
          margin: 0;
          padding: 0;
          list-style: none;
          >li {
            @include dock-row();
            >.right {
              opacity: 0;
              >.action {
                padding: 0px;
              }
            }
            &:hover {
              >.right {
                opacity: 1;
              }
            }

            .selected {
              background-color: $background-selection-0;
              &:hover {
                background-color: $background-selection-1;
              }
            }
          }
        }
      }
    }
  }
}
