<div class="root header">

  <button class="button button-default">Default</button>
  <button class="button button-primary">Primary</button>
  <button class="button button-danger">Danger</button>
  <button class="button button-warning">Warning</button>
  <button class="button button-success">Success</button>
  <button class="button button-info">Info</button>

  <button class="highlight highlight-default">Default</button>
  <button class="highlight highlight-primary">Primary</button>
  <button class="highlight highlight-danger">Danger</button>
  <button class="highlight highlight-warning">Warning</button>
  <button class="highlight highlight-success">Success</button>
  <button class="highlight highlight-info">Info</button>

  <button class="highlight highlight-default"><i class="material-icons icon icon-24-18">cloud_upload</i> Upload</button>
  <button class="highlight highlight-primary"><i class="material-icons icon icon-24-18">cloud_download</i> Download</button>
  
</div>
