@import "~@/styles/partials/variables";
@import "~@/styles/partials/mixins";

.root.header {

  @include dock-row();
  @include with-icons(icon, 24, 18);
  @include with-buttons();
  @include with-highlights();

  padding: 12px;
  justify-content: space-between;

  >.center {
    flex: 0 0 auto;
    width: auto;
  }

  >.right {
    >.highlight {
      opacity: 0.6;
      &:hover {
        opacity: 0.8;
      }
      &.active {
        opacity: 1;
      }
    }
  }
}
