@import "~@/styles/partials/variables";
@import "~@/styles/partials/mixins";
@import "~@/styles/shell/modal";
@import "~@/styles/shell/form";

.root.page {

  @include shell-modal();
  // @include with-input-groups('input-group');

  >.middle {
    @include shell-form();

    >.row {
    }
  }

  .templates {
    @include flex-row(pane, 0 0 auto);
    margin: 8px 0px;
    >.pane {
      position: relative;
      display: table;
      padding: 6px 8px;
      >.heading {
        position: absolute;
        top: 10px;
        left: 15px;
      }
      >.content {
        @include paper(1);
        display: table;
        width: 100px;
        height: 120px;
        border-radius: 8px;
        background: $background-3;
        cursor: pointer;

        &:hover {
          @include paper(2);
        }
      }
    }
  }
}
