<div class="root shell">
  <div class="top">
    <shell-header />
  </div>
  <div class="middle">
    <div class="left">
      <shell-palette class="pane" />
      <shell-outline class="pane" />
    </div>
    <div class="center">
      <div class="top">
        <shell-toolbar />
      </div>
      <div class="middle">
        <shell-canvas />
      </div>
      <div class="bottom">
        <shell-console class="pane" />
      </div>
    </div>
    <div class="right">
      <shell-properties class="pane" />
      <shell-structure class="pane" />
    </div>
  </div>
  <div class="bottom">
    <shell-footer />
  </div>
</div>
