<div class="root shell">
  <div class="top">
    <shell-header />
  </div>
  <div class="middle">
    <div class="left" v-if="palette.open || outline.open">
      <shell-palette class="pane" v-if="palette.open" />
      <shell-outline class="pane" v-if="outline.open" />
    </div>
    <div class="center">
      <div class="top">
        <shell-toolbar />
      </div>
      <div class="top">
        <shell-actions />
      </div>
      <div class="middle">
        <shell-editor />
      </div>
      <div class="bottom" v-if="console.open">
        <shell-console class="pane" />
      </div>
    </div>
    <div class="right" v-if="properties.open || structure.open">
      <shell-properties class="pane" v-if="properties.open" />
      <shell-structure class="pane" v-if="structure.open" />
    </div>
  </div>
  <div class="bottom">
    <shell-footer />
  </div>
</div>
