@import "~@/styles/partials/mixins";

.root.editor {

  @include position(absolute, 0, 0, 0, 0);
  overflow: hidden;

  >.outer {

    @include position(absolute, 20px, 20px, 20px, 20px);
    @include scrollable();

    >.scallable {

      @include position(absolute, 0, 0, 0, 0);
      @include dock-row();
      justify-content: center;

      >.inner {
        box-sizing: border-box;
        @include paper(2, 5);
        flex: 0 0 auto;
        position: relative;
        background-color: #FFFFFF;

        >.content {
          @include position(absolute, 0, 0, 0, 0);
          @include scrollable();
        }
      }
    }
  }
}
