@import "~@/styles/partials/variables";
@import "~@/styles/partials/mixins";
@import "~@/styles/shell/modal";
@import "~@/styles/shell/form";

.root.swagger {

  @include shell-modal();
  @include shell-form();

  height: 700px;
  width: 1000px;
  overflow: auto;

  >.middle {
    @include dock-row();
    @include with-tables(fixed);

    >.left {
      @include scrollable();
      padding: 0px 5px 0px 0px;
      width: 200px;
      >ul {
        padding: 0;
        list-style: none;
        margin: 0px;
        >li {
          >a {
            padding: 5px;
            display: block;
            border-radius: 2px;
            cursor: pointer;
            >.tag-name {
              display: block;
            }
            >.tag-description {
              display: block;
              font-size: 0.9em;
              opacity: 0.7;
            }
            &:hover {
              background: $background-1;
            }
          }

          &.active {
            >a {
              background: $background-selection-0;
              &:hover {
                background: $background-selection-1;
              }
            }
          }
        }
      }
    }

    >.center {
      flex: 1 1 100%;
      padding: 0px 0px 0px 5px;
      @include dock-column();
      >.top {
        padding: 0px 5px 10px 5px;
      }
      >.middle {
        @include scrollable();
        padding: 5px;
      }
    }

    .row {
      user-select: none;
      cursor: pointer;
      &:hover {
        background: $background-1;
      }
    }

    .cell {

      padding: 5px;
      vertical-align: middle;

      &.cell-check {
        width: 20px;
      }

      &.cell-method {
        width: 50px;
      }

      &.cell-path {
        width: 200px;
      }

      &.cell-info {
        width: auto;
      }
    }
  }

  >.bottom {
    @include dock-row();
  }
}
