@import "~@/styles/partials/variables";
@import "~@/styles/partials/mixins";
@import "~@/styles/shell/modal";
@import "~@/styles/shell/form";

.root.swagger {

  @include shell-modal();
  @include shell-form();

  height: 700px;
  width: 1000px;
  overflow: auto;

  >.middle {
    @include dock-row();
    @include with-tables(fixed);

    >.left {
      @include scrollable();
      @include with-pills();
      padding: 0px 5px 0px 0px;
      width: 200px;

    }

    >.center {
      flex: 1 1 100%;
      padding: 0px 0px 0px 5px;
      @include dock-column();
      >.top {
        padding: 0px 5px 10px 5px;
      }
      >.middle {
        @include scrollable();
        padding: 5px;
      }
    }

    .row {
      user-select: none;
      cursor: pointer;
      &:hover {
        background: $background-1;
      }
    }

    .cell {

      padding: 5px;
      vertical-align: middle;

      &.cell-check {
        width: 20px;
      }

      &.cell-method {
        width: 50px;
      }

      &.cell-path {
        width: 200px;
      }

      &.cell-info {
        width: auto;
      }
    }
  }

  >.bottom {
    @include dock-row();
  }
}
